body {
    background-color: beige;
    padding: 1%;
}

a {
    cursor: pointer;
}

header img {
    width: 75px;
    height: 75px;
}

.allignCenter {
    text-align: center;
}

.menu_line {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }